body{
    background-color: rgb(39, 39, 39);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}



.Macro_Calc{
    background-image: url(/img/usc-food.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}

#overlay{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    padding: 1px;
}


.One_Rep{
    background-image: url(/img/header_pre_workout_booster.png);
    background-repeat: no-repeat;
}

.Weight_Track{
    background-image: url(/img/SarahAndersonNutritionFF.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit{
    padding-bottom: 10px;
}

section {  
    background-color: rgba(49, 38, 38, 0.89);
    color: rgb(255, 255, 255);
    width: 100%;

}

input[type=radio]{
    display:inline;
    height: 20px;
    width: 20px;
}

header {
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}

nav{
    padding-top: 5px;
    padding-bottom: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    
}

section div {
    font-size: 30px;
}
input{
    width: 1024px;
    height: 30px;
    text-align: center;
}
select{
    width: 1024px;
    height: 30px;
    text-align: center;
}
#res_div{
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    margin-left: 420px;
    margin-right: 420px;
}
.macro{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


